* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  display: inline-block;
  min-width: 100%;
  height: 100%;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

#not-compatible {
  margin: 10px;
}

#message {
  display: none;
  margin: 10px;
}

#contents {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

#contents.fadein {
  transition: opacity 0.6s;
  opacity: 1;
}

@media (min-width:1px) {
  #not-compatible {
    display: none;
  }
  #contents {
    display: block;
    opacity: 0;
  }
}

.easy {
  $easy-color: #55b2ff;
  background: $easy-color;
  header {
    h1 #difficulty {
      color: $easy-color;
    }
    .items .name {
      color: $easy-color;
    }
  }
  main {
    .measure-row th {
      background: $easy-color;
    }
  }
}

.normal {
  $normal-color: #71e359;
  background: $normal-color;
  header {
    h1 #difficulty {
      color: $normal-color;
    }
    .items .name {
      color: $normal-color;
    }
  }
  main {
    .measure-row th {
      background: $normal-color;
    }
  }
}

.hard {
  $hard-color: #fc3;
  background: $hard-color;
  header {
    h1 #difficulty {
      color: $hard-color;
    }
    .items .name {
      color: $hard-color;
    }
  }
  main {
    .measure-row th {
      background: $hard-color;
    }
  }
}

.expert {
  $expert-color: #ff4848;
  background: $expert-color;
  header {
    h1 #difficulty {
      color: $expert-color;
    }
    .items .name {
      color: $expert-color;
    }
  }
  main {
    .measure-row th {
      background: $expert-color;
    }
  }
}

header {
  display: block;
  color: #fff;
  padding: 5px;
  border-bottom: 5px solid #fff;
  position: relative;
  h1 {
    font-size: 20px;
    padding: 10px;
    #difficulty {
      font-size: 20px;
      font-weight: bold;
      background: #fff;
      color: #fff;
      padding: 0 5px;
      border-radius: 4px;
    }
  }
  .items {
    font-size: 16px;
    .name {
      background: #fff;
      font-weight: bold;
      border-radius: 10px;
      padding: 0 4px;
      white-space: nowrap;
    }
    .value {
      margin: 0 10px;
    }
  }
  #menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    z-index: 9999;
    div {
      position: absolute;
      left: 7px;
      width: 30px;
      height: 4px;
      border-radius: 2px;
      background: #ff4848;
      transition: all 0.2s;
    }
    div:nth-child(1) {
      top: 10px;
    }
    div:nth-child(2) {
      top: 20px;
    }
    div:nth-child(3) {
      top: 30px;
    }
  }
  #menu-btn.on {
    div:nth-child(1) {
      left: 1px;
      transform: rotate(-45deg);
      transform-origin: 100% 0;
    }
    div:nth-child(2) {
      transform: rotate(45deg);
      transform-origin: 50% 50%;
    }
    div:nth-child(3) {
      left: 13px;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
  }
}

#menu-bg.on {
  display: block;
}

#menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #000;
  z-index: 9998;
  opacity: 0.8;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 9998;
  #menu-panel.on {
    transform: translateX(0);
  }
  #menu-panel {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 921px;
    padding: 20px;
    border-radius: 8px;
    transform: translateX(1000px);
    transition: transform 0.1s;
    z-index: 9999;
    background: #fff;
    color: #555;
    @media(max-width: 940px) {
      width: 690px;
    }
    @media(max-width: 710px) {
      width: 460px;
    }
    @media(max-width: 480px) {
      width: 230px;
    }
    h2 {
      padding-left: 5px;
      border: 1px solid #ff4848;
      border-width: 0 0 1px 8px;
    }
    .item {
      width: 210px;
      margin: 8px 8px 0;
      display: inline-block;
    }
    .name {
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      border-radius: 15px;
      background: #333;
      color: #fff;
    }
    .input-area {
      margin: 10px;
    }
    @mixin btn {
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      border: 2px solid #aaa;
      display: inline-block;
      font-size: 35px;
      text-align: center;
      cursor: pointer;
      background: #fff;
      background: linear-gradient(#fff, #fff, #bbb);
      box-shadow: #444 2px 2px 6px;
    }
    .close-btn {
      @include btn;
      width: 210px;
      height: 50px;
      line-height: 52px;
      font-size: 30px;
    }
    .close-btn:active {
      border-color: #ccc;
      color: #999;
    }
    .count-btn {
      @include btn;
      width: 40px;
      font-weight: bold;
      color: #ff4848;
    }
    .count-btn:active {
      border-color: #ccc;
      color: #faa;
    }
    .show-value {
      position: relative;
      left: 1px;
      top: -1px;
      width: 80px;
      height: 40px;
      line-height: 40px;
      font-size: 25px;
      border-radius: 5px;
      text-align: center;
      background: #ddd;
      color: #555;
    }
    input[type="radio"] {
      display: none;
      +label {
        position: relative;
        line-height: 40px;
        margin-left: 34px;
        padding-left: 10px;
        font-size: 25px;
        cursor: pointer;
      }
      +label::before {
        content: '';
        position: absolute;
        top: 0;
        left: -34px;
        width: 34px;
        height: 34px;
        border-radius: 22px;
        display: block;
        background: #fff;
        background: linear-gradient(#fff, #fff, #bbb);
        border: 2px solid #aaa;
        box-shadow: #444 2px 2px 6px;
      }
    }
    input[type="radio"]:checked {
      +label::after {
        content: '';
        position: absolute;
        top: 6px;
        left: -28px;
        width: 22px;
        height: 22px;
        border-radius: 16px;
        display: block;
        background: #ff446e;
        background: linear-gradient(#fff, #ff446e, #ff446e);
        border: 2px solid #ff2858;
      }
    }
  }
}

main {
  display: inline-block;
  padding: 3px;
  background: #fff;
  margin: 5px;
  .measure-row {
    border-collapse: collapse;
    th {
      font-size: 10px;
      background: #fff;
      color: #fff;
      border: 1px solid #333;
      font-family: "Arial";
      .header-area {
        width: 20px;
      }
    }
    td {
      position: relative;
      border: 1px solid #333;
      .background-area {
        position: absolute;
        overflow: hidden;
        .lane-split-line {
          position: absolute;
          width: 1px;
          height: 100%;
          background: #999;
          z-index: 22;
        }
        .beat-line {
          position: absolute;
          height: 1px;
          width: 100%;
          background: #999;
          z-index: 21;
        }
        .beat-sub-line {
          position: absolute;
          height: 1px;
          width: 100%;
          background: #ccc;
          z-index: 20;
        }
        .fever-ready-area {
          position: absolute;
          background: #ddd;
          width: 100%;
          z-index: 10;
        }
        .fever-area {
          position: absolute;
          background: #c3f9ff;
          width: 100%;
          z-index: 10;
        }
      }
      .note-area {
        position: relative;
        .note {
          position: absolute;
          box-sizing: border-box;
        }
        .normal {
          background: #8cf;
          border-radius: 50px;
          border: 1px solid #5588d4;
        }
        .skill {
          background: #ff6;
          border-radius: 50px;
          border: 1px solid #aa5;
        }
        .hold {
          background: #7f8;
          border-radius: 50px;
          border: 1px solid #5fb949;
        }
        .slide {
          background: #7f8;
          border: 1px solid #5fb949;
          height: 3px;
        }
        .hold-line {
          position: absolute;
          background: #afa;
          border: 1px solid #5fb949;
          border-width: 0 1px;
          box-sizing: border-box;
          z-index: 50;
        }
        .flick {
          background: #ff8598;
          border: 1px solid #e44;
          transform: rotate(45deg) scale(0.80);
        }
        .slide-line-area {
          box-sizing: border-box;
          position: absolute;
          overflow: hidden;
          .slide-line {
            position: absolute;
            background: #afa;
            border: 1px solid #5fb949;
            box-sizing: border-box;
            z-index: 50;
          }
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}